@CHARSET "UTF-8";

.wrapper{
    position:relative;
    width : 90%;
}

.wrapper:before{
    content:"";
    display:block;
    padding-top:100%;
}

.wrapper_inner{
    position: absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
}