@CHARSET "UTF-8";

.register_canvas{
    position:absolute;
}

.hidden{
    visibility:hidden;
}

#search_main{
    height:90%;
    width:80%;
    position:absolute;
    left:0px;
    top:0px;
    margin-left:auto;
}